/************ General ********************/
html{
    margin: 2%;
    background-color: rgb(232, 223, 208);
}

h2{ 
    color: 	#42352f;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: 	#19110e;
}

h3{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}

h4{
    color: black;
}

h5{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(88, 87, 87);
    margin-bottom: -5px;
    margin-top: -5px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 1%; 
    margin-top: 1em;
    margin-bottom: 1em;
} 

p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*************** Kategori ****************/
.header h1 span{
    color: rgb(255, 145, 2);
    transform: scaleX(-1) translateX(-0.2rem);
    display: inline-block;
    cursor: pointer;
    
}

.header a{
    text-decoration-color: #c0bfc0;
    color: 	#3e322c;
    }

.header > a{
    text-decoration: none;
    font-size: 40px; 
    
}

.kategoriliste {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3em;
    margin: 6%;
}

.kategoriliste a{
    text-decoration: none;
    color: rgb(233, 235, 235);
    background-color: 	#725d52;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
    border-radius: 4%;
    font-size: 20px;
    box-shadow: 10px 5px rgba(223, 157, 34, 0.8);
    cursor: pointer;
}

nav{
    display: flex;
    gap: 5%;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav :hover{
    color: black;
    transform: scale(1.1);
}

/* web version */
@media screen and (min-width: 600px){
    nav{
        display: flex;
        gap: 10%;
        margin-right: 5%
    }
    
    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .kategoriliste {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3em;
        margin: 6%;
        
    }
}

/**************** Produkt liste **************/
.subtle{
    color: #858482;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.price{
    font-style: solid;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: 18px;
}

#product_list{
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(1, 1fr);
}


/* web version */
@media screen and (min-width: 600px){
    #product_list{
        display: grid;
        gap: 2em;
        grid-template-columns: repeat(4, 1fr);
    }
}

article{
    border-style: solid;
    border-color: rgb(254, 197, 89, 0.5);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: rgba(58, 47, 28, 0.2);
    border-radius: 10px;
}

article a{
    color: #040101;
    font-size: 17px;
}

article a:hover{
    color: rgb(76, 65, 42);
}

.onSale .price{
  color: rgb(64, 63, 63);
  text-decoration: line-through;
}

.discount{
    background-color: orange;
    border-radius: 5%;
    padding-left: 5%; 
}



.soldOut{
    background-color: rgba(58, 58, 58, 0.5);
}

.soldOut .price{
    display: none;
}

.udsolgt{
    background-color: rgb(252, 247, 247, 0.9);
    padding: 10px;
    text-align: center;
}



/************ Produkt *************/

.produkt{
    justify-content: center;
    display: grid;
    width: 100%;
}

.buy{
    background-color: #c0a89d;
    padding: 2em;
    border-color: rgb(247, 205, 128);
    border-style: solid;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.buy button{
    display: block;
    width: 50%;
   margin-top: 1em;
   width: 100%;
   padding: 2%;
   cursor: pointer;
   background-color: #fef8f6;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 20px;
}

.buy button:hover{
    background-color: #e6e5e3;
}

select{
    background-color: rgb(255, 255, 255);
}

dl {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

dt{
    font-size: 20px;
    padding: 10px;
    font-weight: 600;
}

.breadcrumbs{
    list-style: none;
    display: flex;
    gap: 1rem;
    font-size: 13px;
    justify-content: left;
    margin-left: -5%;
    background-color: #dac9ab;
    padding: 10px;
    border-radius: 5px

}

.breadcrumbs a{
    text-decoration: none;
    color: black;
}

.breadcrumbs li + li::before{
    content: ">";
    margin-right: 10px;
}

/* web version */
@media screen and (min-width: 900px){
   .buy{
    order: 2;
    margin-left: 60px;
   }

   .info{
    order: 0;
   }

   .indholdprodukt {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;

   }

}
